
body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
#navbar{
   /* width: 100%; */
    display: grid;
    grid-template-columns: 15% 600px 18%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid red; */
    padding: 30px 5% 30px 5%;
    box-shadow: rgba(0, 0, 0, 0.24)  0px 3px 8px;
    position: sticky;
    top: 0px;
    background-color: white;
  
  
}
ul,a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
li,button{
    cursor: pointer;
    /* border: 1px solid red; */
}
.GetStarted{
    padding: 15px;
    border-radius: 30px;
    background-color: #006bff;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    width: 125px;
}
.GetStarted:hover{
    background-color: #5e96e4;
    transition-duration: 500ms;
}
#login{
    white-space: nowrap; 
    /* width: 50px;  */
    overflow: hidden;
    text-overflow: ellipsis; 
}

#easy{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    width: 85%;
    margin: auto;
   
}
.easypara{
    font-size: 67.34px;
    font-weight: bolder;
    line-height: 1px;
}
#easypara2{
    font: size 24px; 
    line-height: 41.1429px;
}
#easyEmail{
    
    border: none;
    padding: 20px;
    border-radius: 30px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.easySignUp{
    padding: 20px;
    border-radius: 30px;
    margin-left: -50px;
    /* width: 100px; */
    background-color: #006bff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
}
.easySignUp:hover{
    background-color: #5e96e4;
    transition-duration: 500ms;
}
#simplified{
    font-weight: bold;
    font-size: 28px;
    /* width: 100%; */
    background-color: #f8f8f8;
    padding: 50px 50px;
    text-align: center;
 
}
#simplifiedPara{
    width: 600px;
    margin: auto;
   
  
}
.textColorBlue{
    color: #006bff;
}
#weMake{
    width: 90%;
    margin: 40px auto;
}
#weMakeGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
li:hover{
    color: #5e96e4;
}
#signInGreen{
    color: green;
    white-space: nowrap; 
    /* width: 50px;  */
    overflow: hidden;
    text-overflow: ellipsis; 
}

#signOutRed{
    color: red;
    white-space: nowrap; 
    /* width: 50px;  */
    overflow: hidden;
    text-overflow: ellipsis; 
}

#signInGreen .Hovertext,#signOutRed .Hovertext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    top: 20px;
    right: 20%;
    z-index: 1;
  }
  
  #signInGreen:hover .Hovertext{
    visibility: visible;
  }
  #signOutRed:hover .Hovertext{
    visibility: visible;
  }


/* --------------------------Drop Resourses---------------------- */

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 10%;
    /* background-color: #f1f1f1; */
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */
  .downArr,.upArr{
      display: inline-block;
      margin: auto;
      /* font-size: 40px; */
  }
  .upArr{
      display: none;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      
  }
  .dropdown:hover .upArr{
      display: inline-block;
  }
  .dropdown:hover .downArr{
      display: none;
  }
  .dropdown:hover #ResourceDrop{
      display: grid;
  }
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: #006bff;}

  #ResourceDrop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    gap: 0px;
    display: none;
    background-color: white;
    color: black;

}
#Grid1ResDrop,#Grid2ResDrop,#Grid3ResDrop{
    padding: 20px;
}
#Grid1ResDrop{
    background-color: #e7edf6;
    border-radius: 10px 0px 0px 10px ;
}
#ResourceDrop i {
    color: #69c2dd;
    display: inline-block;
    font-size: 30px;
}


/* --------------------------Drop Resourses---------------------- */